{% extends 'base.html' %}

{% block content %}
<h1 id="title">Form Input Data Mahasiswa</h1>
<div id="form-outer">
  <p id="description">
    Silahkan Input Data Mahasiswa
  </p>

<br>
  <a href="/list_mahasiswa" class="nav-link">Lihat Data Mahasiswa</a>
  <br>
  
  <br>
  <a href="/list_mahasiswa" class="nav-link">Lihat Data Mahasiswa</a>
  <br>
  <br>
  <a href="/list_mahasiswa" class="nav-link">Lihat Data Mahasiswa</a>
  <br>
  <br>
  <a href="/list_mahasiswa" class="nav-link">Lihat Data Mahasiswa</a>
  <br>
 
</div>
{% endblock %}
